<?xml version="1.0"?>
<launch>
  <arg name="config"
       default="$(find morai_udp_bridge)/config/molit_2026_vehicle_status.yaml"/>

  <rosparam command="load" file="$(arg config)"/>

  <node pkg="morai_udp_bridge"
        type="competition_vehicle_status_receiver_node"
        name="competition_vehicle_status_receiver_node"
        output="screen"
        required="true"/>
</launch>
