<launch>
  <arg name="config"
       default="$(find morai_path_tracking)/config/molit_2026_pure_pursuit.yaml"/>

  <rosparam command="load" file="$(arg config)"/>

  <node pkg="morai_path_tracking"
        type="pure_pursuit_controller_node"
        name="pure_pursuit_controller_node"
        output="screen"
        required="true"/>
</launch>
