<?xml version="1.0"?>
<launch>
  <arg name="start_rviz" default="true"/>
  <arg name="bridge_config"
       default="$(find morai_udp_bridge)/config/molit_2026_localization.yaml"/>
  <arg name="sensor_mount_config"
       default="$(find ioniq5_description)/config/molit_2026_sensor_mounts.yaml"/>
  <arg name="localization_config"
       default="$(find morai_localization)/config/molit_2026_kcity.yaml"/>
  <arg name="route_path_config"
       default="$(find morai_path_manager)/config/molit_2026_kcity_route_path.yaml"/>
  <arg name="global_path_file"
       default="$(find morai_path_manager)/map/R-KR_PG_K-City_2025/2026_molit_comp_global_path.txt"/>

  <include file="$(find morai_bringup)/launch/molit_2026_sensors.launch">
    <arg name="use_lidar" value="false"/>
    <arg name="use_gps_localization" value="true"/>
    <arg name="use_path_manager" value="true"/>
    <arg name="bridge_config" value="$(arg bridge_config)"/>
    <arg name="sensor_mount_config" value="$(arg sensor_mount_config)"/>
    <arg name="localization_config" value="$(arg localization_config)"/>
    <arg name="route_path_config" value="$(arg route_path_config)"/>
    <arg name="global_path_file" value="$(arg global_path_file)"/>
  </include>

  <include file="$(find morai_visualization)/launch/path.launch">
    <arg name="start_rviz" value="$(arg start_rviz)"/>
  </include>
</launch>
