<?xml version="1.0"?>
<launch>
  <arg name="publish_description" default="true"/>
  <arg name="use_lidar" default="true"/>
  <arg name="use_gps_localization" default="false"/>
  <arg name="use_path_manager" default="$(arg use_gps_localization)"/>

  <arg name="bridge_config" default="$(find morai_udp_bridge)/config/molit_2026.yaml"/>
  <arg name="vehicle_config" default="$(find ioniq5_description)/config/vehicle_specs.yaml"/>
  <arg name="sensor_mount_config" default="$(find ioniq5_description)/config/molit_2026_sensor_mounts.yaml"/>
  <arg name="localization_config" default="$(find morai_localization)/config/molit_2026_kcity.yaml"/>
  <arg name="route_path_config"
       default="$(find morai_path_manager)/config/molit_2026_kcity_route_path.yaml"/>
  <arg name="global_path_file"
       default="$(find morai_path_manager)/map/R-KR_PG_K-City_2025/2026_molit_comp_global_path.txt"/>

  <arg name="lidar_device_ip" default=""/>
  <arg name="lidar_port" default="2368"/>
  <arg name="lidar_hz" default="15.0"/>
  <arg name="lidar_frame" default="lidar_link"/>

  <group if="$(arg publish_description)">
    <include file="$(find ioniq5_description)/launch/description.launch">
      <arg name="vehicle_config" value="$(arg vehicle_config)"/>
      <arg name="sensor_config" value="$(arg sensor_mount_config)"/>
    </include>
  </group>

  <node pkg="morai_udp_bridge"
        type="morai_udp_bridge_node"
        name="morai_udp_bridge"
        output="screen"
        required="true">
    <rosparam command="load" file="$(arg bridge_config)"/>
    <rosparam command="load" file="$(arg sensor_mount_config)" ns="sensor_setup"/>
  </node>

  <!-- MORAI emits native Velodyne VLP-16 UDP packets. The official driver
       performs packet decoding and calibrated point-cloud generation. -->
  <group if="$(arg use_lidar)">
    <remap from="velodyne_packets" to="/sensors/lidar/packets"/>
    <remap from="velodyne_points" to="/lidar3D"/>
    <remap from="scan" to="/sensors/lidar/scan"/>
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
      <arg name="device_ip" value="$(arg lidar_device_ip)"/>
      <arg name="port" value="$(arg lidar_port)"/>
      <arg name="rpm" value="$(eval float(arg('lidar_hz')) * 60.0)"/>
      <arg name="frame_id" value="$(arg lidar_frame)"/>
      <arg name="manager" value="morai_lidar_nodelet_manager"/>
      <arg name="organize_cloud" value="false"/>
    </include>
  </group>

  <group if="$(arg use_gps_localization)">
    <include file="$(find morai_localization)/launch/localization.launch">
      <arg name="config" value="$(arg localization_config)"/>
    </include>
  </group>

  <group if="$(arg use_path_manager)">
    <include file="$(find morai_path_manager)/launch/route_path_publisher.launch">
      <arg name="config" value="$(arg route_path_config)"/>
      <arg name="path_file" value="$(arg global_path_file)"/>
    </include>
  </group>
</launch>
