<?xml version="1.0"?>
<launch>
  <arg name="publish_description" default="true"/>
  <arg name="use_lidar" default="true"/>

  <arg name="bridge_config"
       default="$(find morai_udp_bridge)/config/molit_2026.yaml"/>
  <arg name="vehicle_config"
       default="$(find ioniq5_description)/config/vehicle_specs.yaml"/>
  <arg name="sensor_mount_config"
       default="$(find ioniq5_description)/config/molit_2026_sensor_mounts.yaml"/>
  <arg name="localization_config"
       default="$(find morai_localization)/config/molit_2026_kcity.yaml"/>
  <arg name="route_path_config"
       default="$(find morai_path_manager)/config/molit_2026_kcity_route_path.yaml"/>
  <arg name="global_path_file"
       default="$(find morai_path_manager)/map/R-KR_PG_K-City_2025/2026_molit_comp_global_path.txt"/>

  <arg name="lidar_device_ip" default=""/>
  <arg name="lidar_port" default="2368"/>
  <arg name="lidar_hz" default="15.0"/>
  <arg name="lidar_frame" default="lidar_link"/>
  <arg name="lidar_cut_angle" default="0.0"/>
  <arg name="lidar_fixed_frame" default=""/>
  <arg name="lidar_target_frame" default=""/>

  <arg name="vehicle_status_config"
       default="$(find morai_udp_bridge)/config/molit_2026_vehicle_status.yaml"/>
  <arg name="controller_config"
       default="$(find morai_path_tracking)/config/molit_2026_path_tracking.yaml"/>
  <arg name="control_sender_config"
       default="$(find morai_udp_bridge)/config/molit_2026_control.yaml"/>

  <include file="$(find morai_bringup)/launch/molit_2026_stack.launch">
    <arg name="publish_description" value="$(arg publish_description)"/>
    <arg name="use_lidar" value="$(arg use_lidar)"/>
    <arg name="bridge_config" value="$(arg bridge_config)"/>
    <arg name="vehicle_config" value="$(arg vehicle_config)"/>
    <arg name="sensor_mount_config" value="$(arg sensor_mount_config)"/>
    <arg name="localization_config" value="$(arg localization_config)"/>
    <arg name="route_path_config" value="$(arg route_path_config)"/>
    <arg name="global_path_file" value="$(arg global_path_file)"/>
    <arg name="lidar_device_ip" value="$(arg lidar_device_ip)"/>
    <arg name="lidar_port" value="$(arg lidar_port)"/>
    <arg name="lidar_hz" value="$(arg lidar_hz)"/>
    <arg name="lidar_frame" value="$(arg lidar_frame)"/>
    <arg name="lidar_cut_angle" value="$(arg lidar_cut_angle)"/>
    <arg name="lidar_fixed_frame" value="$(arg lidar_fixed_frame)"/>
    <arg name="lidar_target_frame" value="$(arg lidar_target_frame)"/>
  </include>

  <include file="$(find morai_udp_bridge)/launch/competition_vehicle_status_receiver.launch">
    <arg name="config" value="$(arg vehicle_status_config)"/>
  </include>

  <include file="$(find morai_path_tracking)/launch/path_tracking.launch">
    <arg name="config" value="$(arg controller_config)"/>
  </include>

  <include file="$(find morai_udp_bridge)/launch/control_sender.launch">
    <arg name="config" value="$(arg control_sender_config)"/>
  </include>
</launch>
